*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .container{
  max-width: 600px;
  max-height: 70p auto;
  padding: 25px;
  border: 2px solid #222; */
/* } */

form input{
  max-width: 300px;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  outline: none;
}

form button{
  padding: 10px;
  font-size: 17px;
  margin-left: 10px;
  cursor: pointer;
}

.compen{
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.compen button{
  padding: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.compen button:nth-child(1){
  color: darkblue;
}
.compen button:nth-child(2){
  color: green;
}
.compen button:nth-child(3){
  color: crimson;
}

.todoContainer{
  width: 100%;
  margin: 0;
  margin-top: 30px;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.todoContainer::-webkit-scrollbar{
  width: 0;
}

.todoContainer .tasks{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.tasks:not(:last-child){
  margin-bottom: 15px;
}

.tasks .todo{
  width: 100px;
  padding: 10px;
  border:1px solid #333;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo span{
  text-decoration-thickness: 2px !important;
}

.todo .btn button{
  margin-left: 5px;
  cursor: pointer;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
}

.counter{
  margin-top: 15px;
}
.counter span{
  font-weight: 400; 
}

